<tr>
  <td class="p-3 text-center border">The top <%= content.topic_quantity %> <%= content.content_topic %> that every <%= content.business_customer_subtype %> must know/avoid in order to <%= content.business_customer_subtype_result %></td>
  <td class="text-center border">
    <%= form_tag generate_content_path(content), method: :post do %>
      <% if @content_types %>
        <%= select_tag "output_type", options_for_select(@content_types) %>
      <% end %>
      <%= submit_tag "Generate", class: "btn btn-primary" %>
    <% end %>     
  </td>
  <td class="p-3 text-center border"><%= link_to "View", content_path(content), class: "btn btn-primary" %></td>
  <td class="p-3 text-center border"><%= link_to "edit", edit_content_path(content), class: "btn btn-primary mr-1" %></td>
  <td class="p-3 text-center border"><%= link_to "delete", content_path(content), method: :delete, class: "btn btn-primary", data: { turbo_confirm: t("are_you_sure") } %></td>
</tr>
